<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="test Geerk.github.io : test" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/geerk">View on GitHub</a>

          <h1 id="project_title">Персональный блог Тимофея Труханова</h1>
          <h2 id="project_tagline"><q>Ведь если всех вас запомнить, так забудешь, сколько водка стоит.</q> Град обреченный</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    {{ content }}

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>



  </body>
</html>
